<mat-progress-bar mode="query" *ngIf="isWorking">
</mat-progress-bar>

<mat-form-field appearance="fill">
  <mat-label>
    Contract Address
  </mat-label>
  <input matInput type="text" [(ngModel)]="contractAddress">
</mat-form-field> &nbsp;
<mat-form-field appearance="fill">
  <mat-label>
    Token Ids
  </mat-label>
  <input matInput type="text" [(ngModel)]="tokenId">
</mat-form-field> &nbsp;
<button mat-raised-button color="primary" (click)="applyFilter()">Get Token Metadata</button>

<hr>

<pre>{{result | json}}</pre>
