<h2>Subscribed for Blocks: receiving... {{subscriptionBlocks.length | number}}</h2>
<mat-progress-bar mode="buffer" *ngIf="subscribed"></mat-progress-bar>
<div class="flex-container reverse">
  <div *ngFor="let block of subscriptionBlocks | reverse" class="flex-content">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{block.header.level | number}}</mat-panel-title>
      </mat-expansion-panel-header>
      <p class="hash-container">
        <mat-icon>schedule</mat-icon><span>{{block.header.timestamp | date:'medium'}}</span>
      </p>
      <p class="hash-container">
        <mat-icon>tag</mat-icon>
        <span class="hash" (click)="copyToClipboard(block.hash)" matTooltip="{{block.hash}}"
          matTooltipClass="hash-tooltip">{{block.hash}}</span>
      </p>
    </mat-expansion-panel>
  </div>
</div>

<mat-progress-bar mode="query" *ngIf="queryRunning"></mat-progress-bar>
<h2>Query Blocks: {{blocks[0]?.total_count | number}}</h2>
<div class="flex-container">
  <ng-container *ngFor="let connection of blocks, index as index">
    <div *ngFor="let block of connection?.edges" class="flex-content">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{block.node?.level | number}}</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="hash-container">
          <mat-icon>schedule</mat-icon><span>{{block.node?.timestamp | date:'medium'}}</span>
        </p>
        <p class="hash-container">
          <mat-icon>tag</mat-icon>
          <span class="hash" (click)="copyToClipboard(block.node?.hash)" matTooltip="{{block.node?.hash}}"
            matTooltipClass="hash-tooltip">{{block.node?.hash}}</span>
        </p>
      </mat-expansion-panel>
    </div>
  </ng-container>
</div>

<button mat-raised-button color="primary" (click)="loadMore()" *ngIf="blocks.length">Load More</button>

<mat-accordion *ngIf="messages.length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span style="color: red;">Messages {{messages.length}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre *ngFor="let message of messages">
{{message | json}}
    </pre>
  </mat-expansion-panel>
</mat-accordion>
