.block-container {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
}

.reverse {
  flex-direction: row-reverse;
  direction: rtl;
  text-align: right;
}

.block {
  width: 200px;
  border: #1976d2 1px solid;
  margin: 1px;
  word-wrap: break-word;
  overflow: hidden;
  align-content: center;
  text-align: center;
}
